*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.exc
*.fdb_latexmk
*.fls
*.glo
*.idx
*.ilg
*.ind
*.log
*.out
*.pdf
*.pug
*.pyg
*.run.xml
*.sty
*.synctex.gz
*.tmp
*.toc
*.zip
.DS_Store
.idea/
_changes/
_docshots/
_minted-*/
build/
iexec.ret
iexec.tex
node_modules/
